{
  "env": {
    "development": {
      "plugins": [
        "@babel/plugin-transform-react-display-name",
        [
          "babel-plugin-styled-components",
          {
            "ssr": true,
            "displayName": true
          }
        ]
      ]
    }
  }
}
